<section class="sectionOne gap-3 lg:pt-32 relative px-2 sm:px-5 lg:px-10">
  <div
    class="w-[90%] lg:w-[80%] bg-blue-100 opacity-30 h-full absolute top-0 right-0 -z-10"
  ></div>
  <section
    class="flex flex-col lg:ml-32 xl:ml-44 lg:flex-row mx-auto lg:items-center gap-x-20 gap-y-3"
  >
    <div class="max-w-3xl">
      <img class="rounded-md" src="assets/h3-img-3.jpg" alt="" />
    </div>
    <div class="p-3 flex flex-col gap-y-4 min-w-[384px] max-w-sm">
      <h2 class="text-4xl font-semibold text-main-600 capitalize">
        What we offer
      </h2>
      <p class="text-gray-500 text-lg">
        Sea at tale nonumy exerci principes sum sea pro in legere.
      </p>
      <ul class="flex flex-col gap-y-3 text-base mt-2">
        <li class="flex items-center gap-3">
          <ng-icon name="featherCheck" class="text-sub-500" />
          <p>Professional dental services 24/7</p>
        </li>
        <li class="flex items-center gap-3">
          <ng-icon name="featherCheck" class="text-sub-500" />
          <p>Oral and maxillofacial surgery</p>
        </li>
        <li class="flex items-center gap-3">
          <ng-icon name="featherCheck" class="text-sub-500" />
          <p>Dental public health insurance</p>
        </li>
        <li class="flex items-center gap-3">
          <ng-icon name="featherCheck" class="text-sub-500" />
          <p>Free online appointment booking</p>
        </li>
        <li class="flex items-center gap-3">
          <ng-icon name="featherCheck" class="text-sub-500" />
          <p>Various cosmetic dentistry services</p>
        </li>
        <li class="flex items-center gap-3">
          <ng-icon name="featherCheck" class="text-sub-500" />
          <p>Special care dentistry services</p>
        </li>
      </ul>
    </div>
  </section>
</section>
