<section class="px-2 sm:px-5 lg:px-10">
  <div class="mx-auto max-w-7xl text-center">
    <h1 class="text-5xl mb-12 text-main-500 font-semibold capitalize">
      About us
    </h1>
    <div
      class="bg-blue-100 flex flex-col lg:flex-row items-center lg:justify-around gap-4 rounded-[80px] rounded-tr-xl p-3 py-6 lg:p-6 lg:py-12 mb-32"
    >
      <div class="max-w-xl text-start p-2">
        <h2 class="heading text-4xl sm:text-4xl lg:text-6xl mb-6 lg:mb-12">
          We are experienced and internationally certified dentist
        </h2>
        <p class="text-gray-500 text-sm sm:text-base">
          This team includes dentists, dental hygienists, dental assistants, and
          administrative staff who work together to deliver personalized care
          and ensure that patients receive high-quality treatment in a safe and
          comfortable environment.
        </p>
      </div>
      <img
        class="rounded-3xl w-full p-3 drop-shadow-sm block"
        src="assets/about.webp"
        alt=""
      />
    </div>
    <app-icons-ht></app-icons-ht>
    <div
      class="about-us-background flex flex-col lg:flex-row items-center mt-32 gap-3"
    >
      <div class="lg:w-1/2 max-w-xl">
        <img src="assets/image.webp" alt="" />
      </div>
      <div class="flex-grow max-w-2xl">
        <p-carousel
          [value]="value"
          [numVisible]="1"
          [numScroll]="1"
          indicatorStyleClass="indicators"
          [autoplayInterval]="5500"
          [showIndicators]="false"
          [showNavigators]="false"
        >
          <ng-template let-product pTemplate="item">
            <section class="p-6">
              <div class="container max-w-xl mx-auto">
                <div
                  class="flex flex-col items-center w-full md:p-6 space-y-8 rounded-md lg:h-full lg:p-8 dark:bg-gray-900 dark:text-gray-100"
                >
                  <p
                    class="text-main-500 uppercase underline underline-offset-4"
                  >
                    Testimonials
                  </p>
                  <div class="">
                    <img
                      [src]="product.picture"
                      alt=""
                      class="w-28 aspect-square border-gray-400 border border-solid rounded-xl dark:bg-gray-500 drop-shadow-lg"
                    />
                  </div>
                  <blockquote
                    class="max-w-lg text-lg italic font-medium text-center"
                  >
                    <p
                      class="relative px-2 md:px-6 py-1 text-sm sm:text-base md:text-xl italic text-center dark:text-gray-100"
                    >
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        viewBox="0 0 512 512"
                        fill="currentColor"
                        class="w-12 h-12 text-main-500 mb-2"
                      >
                        <path
                          d="M232,246.857V16H16V416H54.4ZM48,48H200V233.143L48,377.905Z"
                        ></path>
                        <path
                          d="M280,416h38.4L496,246.857V16H280ZM312,48H464V233.143L312,377.905Z"
                        ></path>
                      </svg>
                      {{ product.review }}
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        viewBox="0 0 512 512"
                        fill="currentColor"
                        class="absolute right-0 w-8 h-8 text-main-500"
                      >
                        <path
                          d="M280,185.143V416H496V16H457.6ZM464,384H312V198.857L464,54.1Z"
                        ></path>
                        <path
                          d="M232,16H193.6L16,185.143V416H232ZM200,384H48V198.857L200,54.1Z"
                        ></path>
                      </svg>
                    </p>
                  </blockquote>
                  <div
                    class="text-center text-xl text-main-500 capitalize font-semibold mt-4"
                  >
                    <p>{{ product.userName }}</p>
                  </div>
                </div>
              </div>
            </section>
          </ng-template>
        </p-carousel>
      </div>
    </div>
  </div>
</section>
