<section class="sectionFive px-2 sm:px-5 lg:px-10 mt-32">
  <div
    class="xl:pl-36 flex w-full items-center lg:items-start flex-col gap-y-8 lg:flex-row lg:gap-x-24 xl:gap-x-32"
  >
    <div class="flex-grow max-w-2xl">
      <div
        class="collapse collapse-arrow rounded-md mt-2 border-2 border-solid border-blue-100 py-2"
      >
        <input type="radio" name="my-accordion-2" checked="checked" />
        <div class="collapse-title title-1 text-2xl text-main-600 font-medium">
          How to keep my teeth healthy?
        </div>
        <div class="collapse-content text-sm text-gray-500 pb-1">
          <p>
            Pri nostro ornatus an, wisi quando appareat vel no. Vix eu ornatus
            copiosae tractatos, eligendi partiendo per no, duis quas has ei. At
            eum graeco nemore salutandi, cu mel eius admodum nominavi. Ignota
            aperiam sensibus ea sea.
          </p>
        </div>
      </div>
      <div
        class="collapse collapse-arrow rounded-md mt-2 border-2 border-solid border-blue-100 py-2"
      >
        <input type="radio" name="my-accordion-2" />
        <div class="collapse-title title-2 text-2xl text-main-600 font-medium">
          When to brush teeth and how?
        </div>
        <div class="collapse-content text-sm text-gray-500 pb-1">
          <p>
            Pri nostro ornatus an, wisi quando appareat vel no. Vix eu ornatus
            copiosae tractatos, eligendi partiendo per no, duis quas has ei. At
            eum graeco nemore salutandi, cu mel eius admodum nominavi. Ignota
            aperiam sensibus ea sea.
          </p>
        </div>
      </div>
      <div
        class="collapse collapse-arrow rounded-md mt-2 border-2 border-solid border-blue-100 py-2"
      >
        <input type="radio" name="my-accordion-2" />
        <div class="collapse-title title-3 text-2xl text-main-600 font-medium">
          What are your working hours?
        </div>
        <div class="collapse-content text-sm text-gray-500 pb-1">
          <p>
            Pri nostro ornatus an, wisi quando appareat vel no. Vix eu ornatus
            copiosae tractatos, eligendi partiendo per no, duis quas has ei. At
            eum graeco nemore salutandi, cu mel eius admodum nominavi. Ignota
            aperiam sensibus ea sea.
          </p>
        </div>
      </div>
      <div
        class="collapse collapse-arrow rounded-md mt-2 border-2 border-solid border-blue-100 py-2"
      >
        <input type="radio" name="my-accordion-2" />
        <div class="collapse-title title-4 text-2xl text-main-600 font-medium">
          Can I make an appointment now?
        </div>
        <div class="collapse-content text-sm text-gray-500 pb-1">
          <p>
            Pri nostro ornatus an, wisi quando appareat vel no. Vix eu ornatus
            copiosae tractatos, eligendi partiendo per no, duis quas has ei. At
            eum graeco nemore salutandi, cu mel eius admodum nominavi. Ignota
            aperiam sensibus ea sea.

            <button
              routerLink="appointment"
              class="btn block rounded-sm btn-xs btn-primary mt-2"
            >
              Book Now
            </button>
          </p>
        </div>
      </div>
    </div>
    <!--  -->
    <div class="lg:max-w-xl xl:max-w-2xl">
      <img class="" src="assets/h3-img-5.jpg" alt="" />
    </div>
  </div>
</section>
