<section class="px-2 sm:px-5 lg:px-10">
  <div class="max-w-7xl mx-auto text-center">
    <h1 class="text-5xl capitalize text-main-500 font-semibold mb-12">
      cONTACTUS
    </h1>
    <div
      class="contact-form flex gap-4 p-4 py-8 md:py-12 md:p-6 bg-blue-100 rounded-[80px] rounded-tr-2xl"
    >
      <div class="flex-grow"></div>
      <div
        class="w-full contact md:max-w-xs p-4 drop-shadow-md rounded-lg bg-white"
      >
        <form class="flex-col flex gap-y-4">
          <h2 class="font-semibold text-xl">Send us a message</h2>
          <input
            class="input-lg rounded-md input bg-gray-200"
            placeholder="Name"
          />
          <input
            class="input-lg rounded-md input bg-gray-200"
            placeholder="Email"
          />
          <textarea
            class="input-lg rounded-md input bg-gray-200 h-[200px]"
            id=""
            rows="100"
            placeholder="Message"
          ></textarea>
          <button class="btn btn-primary">Send</button>
        </form>
      </div>
    </div>
  </div>
</section>
