<section class="sectionFour mx-auto px-2 sm:px-5 lg:px-10 relative mt-28">
  <div class="w-full top-0 left-0 h-1/2 absolute px-2 sm:px-5 lg:px-10 -z-10">
    <div class="bg-sub-100 opacity-50 w-full h-full"></div>
  </div>
  <div class="max-w-7xl mx-auto min-h-[600px] text-center pt-24 px-2">
    <p class="text-sub-500 font-semibold uppercase mb-2">DENTAL PRACTICE</p>
    <h5 class="text-5xl text-main-600 font-semibold">
      The best possible results
    </h5>
    <p class="text-lg text-gray-500 mt-7">
      Take a look at a direct comparison before and after the treatment by
      dragging the slider left or right.
    </p>
    <div class="mt-16">
      <img-comparison-slider>
        <img slot="first" src="assets/slide_1.jpg" />
        <img slot="second" src="assets/slide_2.jpg" />
      </img-comparison-slider>
    </div>
  </div>

  <!--  -->
</section>
