<section class="px-2 sm:px-5 lg:px-10">
  <div class="max-w-7xl mx-auto mt-48 flex flex-col gap-y-4">
    <p class="text-sub-500 text-center text-sm lg:text-base">Redirecting...</p>
    <h1
      class="text-main-500 text-3xl sm:text-4xl lg:text-5xl text-center capitalize"
    >
      You Are not Authorized To make an appointment
    </h1>
    <p class="text-gray-500 text-base lg:text-lg text-center capitalize">
      please sign-in Or register
    </p>
    <div class="grid grid-cols-1 md:grid-cols-2 gap-4 items-center mt-12">
      <button class="btn btn-primary lg:btn-lg" routerLink="/singIn">
        Sign-In
      </button>
      <button class="btn btn-primary lg:btn-lg" routerLink="/register">
        Register
      </button>
    </div>
  </div>
</section>
