<section class="px-2 sm:px-5 lg:px-10 mt-2">
  <h1 class="text-5xl text-main-500 font-semibold text-center">Our Service</h1>
  <div
    class="mt-12 relative max-w-6xl mx-auto flex items-end aspect-[18/9] overflow-hidden rounded-[120px] rounded-tr-2xl"
  >
    <img
      class="absolute top-0 left-0 w-full -z-10 h-full"
      src="assets/bg-service.webp"
      alt=""
    />
    <img class="mx-auto" src="assets/services.webp" alt="" />
  </div>
  <div class="text-center mt-20">
    <h2 class="text-4xl text-main-500 mb-3">Keep Your Smile Clean & Shine</h2>
    <p class="text-gray-500 max-w-lg mx-auto mb-3">
      Our experienced team at Dentica is dedicated to providing high-quality
      service and personalized care to each of our clients.
    </p>
    <div
      class="w-full grid grid-cols-1 md:grid-cols-2 xl:grid-cols-3 max-w-7xl mx-auto gap-8 gap-y-10 mt-20 auto-rows-max"
    >
      <div
        *ngFor="let service of services"
        class="w-full flex flex-col gap-y-4 relative group overflow-hidden"
      >
        <div
          class="relative w-full rounded-3xl overflow-hidden aspect-[14/9] drop-shadow-md max-w-xl mx-auto"
        >
          <img
            class="absolute top-0 left-0 w-full"
            [src]="service.image"
            [alt]="service.title"
          />
        </div>
        <p class="text-xl font-semibold text-main-500">{{ service.title }}</p>
        <p class="text-gray-500 text-sm sm:text-base max-w-xl mx-auto">
          {{ service.description }}
        </p>
      </div>
    </div>
    <!--  -->
  </div>
</section>
